/* Default style  */


/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* website title  */

.web-title {
    font-family: 'EB Garamond', sans-serif;
}


/* remove btn and input :focus  */

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}